body {
    background: linear-gradient(rgba(0,0,0,.3)),rgba(0,0,0,.3),url(1.jfif);
    -webkit-backdrop-size: cover;
    background-size: cover;
    background-attachment: fixed;
    background-image: url(photo4.png);
}
.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.7);
}
.form h1 {
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: rgb(255, 241, 190);
    font-size: 30px;
    text-transform: uppercase;
}
.input-form {
    margin: 15px 40px;
    text-align: center;
}
.genry {
    color: #fff;
    padding-top: 15px;
    text-align: center;
}
